body { 
    background: url(background.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background: linear-gradient(to left, blue, red); */
}

.button1 {
    background-color: rgb(255, 132, 0);
    transition: all 0.8s;
    width: 135px;
    height: 40px;
    color: aliceblue;
    border-radius: 400px;
}

.button1:hover {
    background-color: rgb(255, 106, 0);
    color: aliceblue;
    width: 135px;
    height: 40px;
    border-radius: 400px;
}

.header {
    color: aliceblue;
}

hr {
    background-color: (255, 132, 0);
    width: 50px;
    border-width: 2px;
    color: rgb(255, 132, 0);
    max-width: 65px;
    opacity: 1;
    width:25%;
    margin: auto;
    margin-bottom: 15px;
}

.buffer {
    height: 2rem;
}

.buffer2 {
    height: 16.5rem;
}